* {
    box-sizing: border-box;
}

body {
    background:#f5f6f8;
    font-family: georgia, serif;
}

.container {
    max-width: 900px;
    width:92%;
}

.clear-fix {
    clear: both;
}

.header-space {
    margin-top: 80px;
}

.center {
    margin: 0 auto;
    display: block;
}

.text-center {
    text-align: center;
}

.row {
    clear: both;
}

.col-half {
    width:96.969696969697%;
    margin:0 1.515151515152% 1em;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.icon {
    width: 122px;
    margin-top: 0px;
}

h1.logo {
    font-family: 'Lato', sans-serif;
    color: #424552;
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: 3px;
}

.slogan {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .9em;
    color: #92a8b8;
}

footer {
    margin-top: 100px;
    width: 100%;
    border-top: 1px solid #ced2e0;
    padding: 10px;
}

footer p {
    margin: 0 auto;
    width: 90%;
    color: #8ea6b8;
    line-height: 1.6;
}

a img.badge {
    margin-top: 45px;
    margin-bottom: 45px;
}

@media screen and (min-width: 640px) {
    
    footer p {
        width: 70%;
    }
    
    .col-half {
        width: 46.969696969697%;
        margin: 0 1.515151515152% 1em;
    }
    .icon {
        margin-top: 150px;
    }
    
}


