* {
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    height: 100%;
}

body {
    background:#f5f6f8;
    font-family: georgia, serif;
}

.container {
    max-width: 900px;
    width:92%;
}
.clear-fix {
    clear: both;
}

.center {
    margin: 0 auto;
    display: block;
}

.text-center {
    text-align: center;
}

.row {
    clear: both;
}

.col-half {
    width:96.969696969697%;
    margin:0 1.515151515152% 1em;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.icon {
    width: 122px;
    margin-bottom: 15px;
    margin-top: 50px;
}

h1.logo {
    font-family: 'Lato', sans-serif;
    color: #424552;
    text-transform: uppercase;
    font-size: 1.6em;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.slogan {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .9em;
    color: #92a8b8;
}

.iphone {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {

    width: 100%;
    border-top: 1px solid #ced2e0;
    padding: 10px;
}

footer p {
    margin: 0 auto;
    width: 90%;
    color: #8ea6b8;
    line-height: 1.6;
    margin-bottom: 10px;
}

a img.badge {
    margin-top: 45px;
    margin-bottom: 45px;
}

/* For sticky footer */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -80px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 80px; 
}

@media screen and (min-width: 640px) {
    
    footer p {
        width: 70%;
    }
    
    .col-half {
        width: 46.969696969697%;
        margin: 0 1.515151515152% 1em;
    }
    .icon {
        margin-top: 230px;
    }
    
    .iphone {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
}


